header.nav-header {
background-color: #ff8726;
}

div.navImg-div {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

img.imgLogo {
  transform: rotate(-90deg);
  margin: -5% -20%;

}

div.nav.nav-tabs.nav-fill {
  background-color:#ff8726;
  margin-bottom: 7%;
  position: sticky;
    top: 0;
}

.nav-tabs a.nav-link {
  display: flex;
  background-color: #b1cc3c;
  border: .5px solid #F0F2F2;
  border-bottom: none;
  color: black;
  padding: .60rem 15px .60rem 15px;
  margin-right: -1rem;
  margin-left: 2px;
  border-top-left-radius: .25rem;
  border-top-right-radius: .25rem;
  box-shadow: -5px -4px 8px -3px grey;
}
div.nav-item {
  border-bottom: 1.5px solid #9b4d44;
}
.nav-tabs .nav-link:hover {
  transform: scale(1.1);
  background-color: #b1cc3c;
  border: 1px solid #9b4d44;
  border-bottom: none;
  color: white;
  box-shadow: -4px -3px 6px -3px grey;
}
.nav-tabs .nav-link:focus {
  transform: scale(1.11);
  margin-right: 0px;
  background-color: #b1cc3c;
  border: 1px solid #9b4d44;
  border-bottom: none;
  color: white;
  box-shadow: -4px -3px 6px -4px grey;
}


div.nav-tabs .activeTab {
  transform: scale(1.11);
  margin-right: 0px;
  background-color: #b1cc3c;
  border: 1px solid #9b4d44;
  border-bottom: none;
  color: white;
  box-shadow: -9px -7px 14px -7px grey;
}
